/* .recipe-input {
  display: flex;
  align-items: center;
  padding: 10px 18px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;

} */

/* .recipe-container{

  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border: 2px solid blue;
} */


*image works*
